.section {
  /* height: 100vh; */
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center */
  padding: 5%
}

.App {
  text-align: center;
  margin: 0;
}

.background {
  height: 80vh; /* Set height to viewport height */
  background-image: url(background.jpg); /* specify path to your image */
  background-size: cover;
  background-position: center;
}

.downarrow { 
  height: 20vh; 
  display: 'flex';
  justify-content: 'center'; 
  align-items: 'center';
  cursor: pointer;
}

.iconss{
  width: 3%; /* Adjust width as needed */
  height: auto;
  transition: transform 0.3s ease-in-out; /* Add smooth transition */
}

.iconss:hover {
  transform: scale(1.1); /* Zoom effect on hover */
}
